<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Url Shortener</title>
  </head>
  <body>
    <div>
      <div>
        <h1>URL Shortener</h1>
      </div>
      <% if (typeof message !== 'undefined' && message) { %>
      <div class="alert alert-success"><%= message %></div>
      <% } %>
      <form method="post" action="/url/create">
        <input
          type="text"
          id="url"
          name="originalUrl"
          placeholder="Enter your URL"
        />
        <button type="submit">Create</button>
      </form>
      <div style="display: flex; flex-direction: column; margin: 10px">
        <% if (typeof urls !== 'undefined' && urls) { %> <%
        urls.forEach(element => { %>
        <span>
          <a href="/url/<%= element.shortUrlId %>" target="_blank"
            ><%= element.shortUrlId %></a
          >
          <%= element.originalUrl %> <strong>Clicks: </strong> <%=
          element.analytics.visitHistory.length %>
        </span>
        <% }) %> <% } %>
      </div>
    </div>
  </body>
</html>
